[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = eyedi
	email = gdregas18@gmail.com
[core]
	editor = /opt/homebrew/bin/vim
