# Mac Default directory
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# ideyedi Workspace
Workspaces
WeMakePrice

# vim swap cache
*.swp
*.swo

# zsh cache
.zprofile
.zsh_history
.zsh_sessions

# python cache
.ipynb_checkpoints
.python_history

# penv config
.pyenv
.ipython

# System hidden file
.ssh
.m2
.config
.bundle
.DS_Store
.cache
