[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ideyedi
	email = gdregas18@gmail.com
[core]
	editor = /usr/bin/vim
[pull]
	rebase = false

[includeIf "gitdir:/Users/ideyedi/WeMakePrice/"]
    path = /Users/ideyedi/WeMakePrice/.gitconfig
