# Mac Default directory
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# ideyedi Workspace
Workspaces

# zsh cache
.zprofile
.zsh_history
.zsh_sessions

# python cache
.ipynb_checkpoints
.python_history

# penv config
.pyenv

# System hidden file
.ssh
.m2
.config
.bundle
.DS_Store
.cache

# WeMakePrice
*.swp
.CFUserTextEncoding
.android/
.azure/
.cups/
.delfino.conf
.docker/
.fzf.zsh
.fzf/
.gitflow_export
.gitignore_global
.gradle/
.hgignore_global
.ipython/
.jupyter/
.keras/
.kube/
.lesshst
.matplotlib/
.minikube/
.npm/
.oh-my-zsh/
.p2/
.stCommitMsg
.terraform.d/
.vim/
.viminfo
.vmware/
.vscode/

.zcompdump-*
.zshrc.pre-oh-my-zsh

.labelImgSettings.pkl
